/* =================================
------------------------------------
  Cloud 83 - Hosting Template
  Version: 1.0
 ------------------------------------
 ====================================*/

$color: #556080;
$color2: #25ae88;
$color3: #7fabda;
/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #151414;
  font-weight: 500;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #636363;
  line-height: 2;
}

img {
  max-width: 100%;
}

input,
select,
button,
textarea {
  &:focus {
    outline: none;
  }
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
  margin-bottom: 87px;
  text-align: center;
  position: relative;
  h2 {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 18px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: normal;
  }
  &:after {
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    left: 50%;
    bottom: 0;
    margin-left: -55px;
    background: $color2;
  }
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 110px;
  padding-bottom: 110px;
}

.text-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a {
    color: #fff;
  }
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */

.site-btn {
  display: inline-block;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  min-width: 110px;
  padding: 14px 25px;
  border-radius: 0px;
  background: $color;
  cursor: pointer;
  text-align: center;
  span {
    font-size: 11px;
    margin-left: 2px;
  }
  &.sb-c1 {
    background: $color;
  }
  &.sb-c2 {
    background: $color3;
  }
  &.sb-c3 {
    background: $color2;
  }
  &:hover {
    color: #fff;
  }
}

/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.elements-section {
  padding-top: 50px;
}

.el-title {
  margin-bottom: 55px;
}

.element {
  margin-bottom: 100px;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Accordion */

.accordion-area .panel {
  margin-bottom: 6px;
}

.accordion-area .panel-link:after {
  content: "+";
  position: absolute;
  font-size: 16px;
  right: 0;
  top: 0;
  line-height: 16px;
  width: 54px;
  height: 100%;
  text-align: center;
  background: $color;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.accordion-area .panel-header .panel-link.collapsed {
  &:after {
    content: "+";
  }
}

.accordion-area .panel-link.active:after {
  content: "-";
}

.accordion-area .panel-link {
  text-align: left;
  position: relative;
  width: 100%;
  padding: 17px 65px 17px 20px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
  background: $color2;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  border: none;
  min-height: 51px;
}

.accordion-area .panel-body {
  padding: 25px 37px 30px;
  background: #f4f7fa;
  p {
    margin-bottom: 0;
  }
}

/* tab */

.tab-element {
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs .nav-link {
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 13px 22px;
    margin-right: 3px;
    background: $color;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-tabs .nav-item:last-child .nav-link {
    margin-right: 0;
  }
  .nav-tabs .nav-link.active {
    background: $color2;
  }
  .tab-pane {
    padding: 25px 37px 30px;
    background: #f4f7fa;
    p {
      margin-bottom: 0;
    }
  }
}

/* Circle progress */

.circle-progress {
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 30px;
  canvas {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .progress-info {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -39px;
    h2 {
      font-size: 48px;
      font-weight: 400;
    }
    p {
      margin-bottom: 0;
      line-height: normal;
    }
  }
}

.cp-item {
  text-align: center;
  h4 {
    font-size: 14px;
    color: #7e7e7e;
  }
}

/*------------------
  Header section
---------------------*/

.header-section {
  background: rgba(0, 0, 0, 0.63);
  padding: 54px 0px;
  border-bottom: 2px solid $color2;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.site-logo {
  display: inline-block;
  float: left;
}

.nav-switch {
  display: none;
}

.header-right {
  position: relative;
}

.main-menu {
  list-style: none;
  display: inline-block;
  margin-left: 220px;
  padding-top: 5px;
  li {
    display: inline;
    a {
      display: inline-block;
      font-size: 16px;
      color: #fff;
      position: relative;
      padding: 4px 14px;
      margin-left: 15px;
      font-weight: 500;
    }
    &.active {
      a {
        background: $color;
      }
    }
  }
}

.header-btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 100%;
  width: 390px;
  top: -6px;
  margin-left: -181px;
  .site-btn {
    margin-right: 11px;
    &:last-child {
      margin-right: 0;
    }
  }
}

/*------------------
  Hero section
---------------------*/

.hero-slider,
.testimonials-slider {
  .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .owl-dot {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 33px;
      min-width: 33px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 14px;
      color: #fff;
      margin: 0 2px;
      margin-bottom: 31px;
      &.active {
        background: $color2;
      }
    }
  }
}

.hs-item {
  height: 948px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  h2 {
    font-size: 72px;
    color: #fff;
    margin-bottom: 20px;
    top: 100px;
    opacity: 0;
    position: relative;
  }
  p {
    display: inline-block;
    background: $color2;
    color: #060606;
    padding: 0 15px;
    margin-bottom: 3px;
    line-height: 1.8;
    top: 60px;
    opacity: 0;
    position: relative;
  }
  .site-btn {
    margin-top: 65px;
    min-width: 146px;
    top: 40px;
    opacity: 0;
    position: relative;
  }
}

.owl-item.active .hs-item {
  h2,
  p,
  .site-btn {
    top: 0;
    opacity: 1;
  }
  h2 {
    -webkit-transition: all 0.5s ease 0.6s;
    -o-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  p {
    -webkit-transition: all 0.5s ease 0.8s;
    -o-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  .site-btn {
    -webkit-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
  }
}

/*---------------------
  About Section
-----------------------*/

.about-text {
  h2 {
    font-weight: 600;
    margin-bottom: 35px;
  }
}

/*---------------------
  Features Section
-----------------------*/

.feature {
  text-align: center;
  img {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

/*---------------------
  Services Section
-----------------------*/

.services-circle {
  position: relative;
}

.service-list {
  list-style: none;
  li {
    margin-bottom: 85px;
    position: relative;
    z-index: 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .sl-icon {
    width: 87px;
    height: 87px;
    background: $color2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    float: left;
  }
  .sl-content {
    padding-left: 129px;
    h4 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &.service-list-left {
    .sl-icon {
      float: right;
      padding-left: 0;
    }
    .sl-content {
      text-align: right;
      padding-right: 129px;
      padding-left: 0;
    }
    li:nth-child(1) {
      right: 4px;
      width: 490px
    }
    li:nth-child(2) {
      right: 80px;
    }
    li:nth-child(3) {
      right: 0;
    }
  }
  &.service-list-right {
    li:nth-child(1) {
      left: -20px;
      width: 490px;
    }
    li:nth-child(2) {
      left: 80px;
    }
    li:nth-child(3) {
      left: 0;
    }
  }
}

.service-main-circle {
  position: absolute;
  width: 477px;
  height: 477px;
  border: 3px solid $color2;
  border-radius: 50%;
  left: 50%;
  margin-left: -238.5px;
  background: rgba(255, 255, 255, 0.21);
  text-align: center;
  padding-top: 120px;
}

/*---------------------
  About Section
-----------------------*/

.about-section {
  .section-title {
    margin-bottom: 0;
  }
}

.about-img {
  img {
    position: relative;
    left: -43px;
    top: -15px;
  }
}

.about-text {
  padding-top: 82px;
  p {
    margin-bottom: 60px;
  }
}

.about-list {
  list-style: none;
  padding-left: 90px;
  li {
    position: relative;
    color: #151414;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 23px;
    &:after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: 0;
      top: 3px;
      border-radius: 50%;
      background: $color2;
    }
  }
}

/*---------------------
  Milestones Section
-----------------------*/

.milestones-section {
  background: $color;
  padding: 125px 0;
}

.milestone-icon {
  float: left;
  height: 100px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
}

.milestone-text {
  padding-top: 15px;
  padding-left: 130px;
  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
  }
  p {
    margin-bottom: 0;
    line-height: normal;
  }
}

/*---------------------
  Banner Section
-----------------------*/

.banner-section {
  padding: 85px 0;
}

.banner-card {
  background: #fff;
  max-width: 770px;
  padding: 53px 95px 28px;
  position: relative;
  left: -100px;
  h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  h6 {
    font-weight: 600;
    color: $color;
    margin-bottom: 39px;
  }
}

/*---------------------
  Footer Section
-----------------------*/

.footer-top-section {
  background: #1f2430;
  padding-top: 127px;
  padding-bottom: 50px;
}

.footer-widget {
  margin-bottom: 35px;
  p {
    color: #fff;
    opacity: .55;
  }
  .fw-title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 55px;
    padding-top: 20px;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        color: #fff;
        opacity: 0.55;
      }
    }
  }
  &.about-widget {
    img {
      margin-bottom: 60px;
    }
    p {
      padding-left: 1px;
    }
  }
  .social-links {
    padding-top: 50px;
    a {
      color: #fff;
      font-size: 14px;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer-section {
  background: #171b26;
  overflow: hidden;
  padding: 19px 0;
}

.footer-nav {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline;
      a {
        display: inline-block;
        color: #51555d;
        margin-left: 35px;
        font-size: 14px;
      }
    }
  }
}

.copyright {
  float: left;
  padding-top: 3px;
  p {
    font-size: 12px;
    margin-bottom: 0;
    color: #51555d;
    a {
      color: #51555d;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------------
  Page
---------------------*/

.page-top-section {
  height: 500px;
  text-align: center;
  padding-top: 300px;
  h2 {
    font-size: 72px;
    color: #fff;
    font-weight: 600;
  }
}

/*------------------
  About Page
---------------------*/

.about-intro-pic {
  position: relative;
  .video-play {
    position: absolute;
    width: 64px;
    height: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    border-radius: 50%;
    background: $color;
    z-index: 2;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.about-intro-text {
  p {
    margin-bottom: 35px;
  }
}

.what-card {
  .wc-text {
    background: #fff;
    text-align: center;
    padding: 36px 30px 20px;
    h5 {
      margin-bottom: 15px;
    }
  }
}

.testimonials-section {
  padding: 114px;
}

.testimonial-item {
  text-align: center;
  .ti-author-pic {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #333;
    display: inline-block;
    margin-bottom: 21px;
    margin-top: 50px;
  }
}

.testimonials-slider.owl-carousel {
  .owl-nav {
    position: absolute;
    top: 15px;
    width: 100%;
    button.owl-prev,
    button.owl-next {
      width: 58px;
      height: 58px;
      color: #fff;
      font-size: 25px;
      border-radius: 50%;
      background: #dfeae7;
      position: relative;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background: $color2;
      }
    }
    button.owl-prev {
      left: -180px;
    }
    button.owl-next {
      float: right;
      right: -180px;
    }
  }
  .owl-dots {
    position: relative;
    padding-top: 72px;
    .owl-dot {
      color: #151414;
      margin-bottom: 0;
    }
  }
}

/*------------------
  Service Page
---------------------*/

.pricing-section {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}

.pricing-card {
  text-align: center;
  .pc-header {
    background: $color2;
    padding: 50px 20px 70px;
    h4 {
      font-weight: 600;
      color: #fff;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 48px;
      font-weight: 600;
      color: #fff;
      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .pc-details {
    background: #fff;
    padding-bottom: 60px;
    .pc-icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 94px;
      height: 94px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: $color;
      border-radius: 50%;
      margin-top: -47px;
      padding: 15px;
    }
    ul {
      padding-top: 30px;
      padding-bottom: 50px;
      list-style: none;
      li {
        font-size: 14px;
        color: #7c7c7c;
        font-weight: 500;
        margin-bottom: 12px;
      }
    }
  }
}

/*------------------
  Blog Page
---------------------*/

.blog-post {
  margin-bottom: 115px;
}

.post-content {
  text-align: center;
  padding: 46px 0 0;
  .post-date {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: $color2;
    padding: 10px 22px;
    margin-bottom: 35px;
  }
  h4 {
    margin-bottom: 28px;
  }
  p {
    margin-bottom: 45px;
  }
  .site-btn {
    min-width: 147px;
  }
}

.site-pagination {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 33px;
    min-width: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #151414;
    font-size: 14px;
  }
  .active {
    background: $color2;
  }
}

.contact-title {
  margin-bottom: 45px;
}

.contact-text {
  p {
    margin-bottom: 35px;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  .ci-icon {
    width: 48px;
    float: left;
  }
  h6 {
    font-size: 15px;
    padding-left: 15px;
  }
}

.contact-form {
  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    width: 100%;
    border: none;
    font-size: 14px;
    height: 61px;
    padding: 10px 32px;
    margin-bottom: 8px;
    border-bottom: 3px solid transparent;
    background: #dee2ef;
    &:focus {
      border-bottom: 3px solid $color2;
    }
  }
  textarea {
    height: 177px;
    padding-top: 23px;
    margin-bottom: 18px;
  }
  .site-btn {
    min-width: 147px;
  }
  ::-webkit-input-placeholder {
    color: #7c7c7c;
  }
  :-ms-input-placeholder {
    color: #7c7c7c;
  }
  ::-ms-input-placeholder {
    color: #7c7c7c;
  }
  ::placeholder {
    color: #7c7c7c;
  }
}

.map {
  margin-top: 115px;
  iframe {
    width: 100%;
    height: 590px;
  }
}

/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
  .container {
    max-width: 1175px;
  }
}

@media (max-width: 1580px) {
  .header-section {
    .container {
      max-width: 100%;
    }
  }
  .header-btns {
    left: auto;
    right: 0;
    margin-left: 0;
    width: auto;
  }
}

@media (max-width: 1330px) {
  .main-menu {
    margin-left: 90px;
  }
  .service-list {
    li {
      margin-bottom: 40px;
    }
    .sl-icon {
      width: 80px;
      height: 80px;
    }
    .sl-content {
      padding-left: 95px;
    }
    &.service-list-left {
      .sl-icon {
        float: right;
        padding-left: 0;
      }
      .sl-content {
        text-align: right;
        padding-right: 95px;
        padding-left: 0;
      }
      li:nth-child(1) {
        right: 4px;
        width: 490px
      }
      li:nth-child(2) {
        right: 30px;
      }
      li:nth-child(3) {
        right: -32px;
      }
    }
    &.service-list-right {
      li:nth-child(1) {
        left: -40px;
        width: 490px;
      }
      li:nth-child(2) {
        left: 15px;
      }
      li:nth-child(3) {
        left: -32px;
      }
    }
  }
  .service-main-circle {
    width: 360px;
    height: 360px;
    margin-left: -180px;
    padding-top: 65px;
  }
  .about-img img {
    left: 0;
    top: 0;
  }
  .banner-card {
    left: 0;
  }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu {
    margin-left: 40px;
  }
  .main-menu li a {
    margin-left: 0;
    font-size: 14px;
  }
  .header-btns {
    top: -2px;
  }
  .header-btns .site-btn {
    padding: 10px 20px;
    margin-right: 5px;
  }
  .service-list {
    li {
      margin-bottom: 30px;
      max-width: 330px;
    }
    .sl-icon {
      width: 80px;
      height: 80px;
    }
    .sl-content {
      padding-left: 95px;
      p {
        font-size: 12px;
      }
      h4 {
        font-size: 20px;
      }
    }
    &.service-list-left {
      .sl-icon {
        float: right;
        padding-left: 0;
      }
      .sl-content {
        text-align: right;
        padding-right: 95px;
        padding-left: 0;
      }
      li:nth-child(1) {
        right: -47px;
        width: auto;
      }
      li:nth-child(2) {
        right: 7px;
      }
      li:nth-child(3) {
        right: -50px;
      }
    }
    &.service-list-right {
      li:nth-child(1) {
        left: -20px;
        width: auto;
      }
      li:nth-child(2) {
        left: 32px;
      }
      li:nth-child(3) {
        left: -20px;
      }
    }
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-section {
    padding: 35px 0px;
    .header-right {
      position: fixed;
      background: #fff;
      width: 300px;
      height: 100%;
      left: -340px;
      top: 0;
      overflow-y: auto;
      -webkit-box-shadow: 40px 0px 70px rgba(167, 167, 167, 0.2);
      box-shadow: 40px 0px 70px rgba(167, 167, 167, 0.2);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      &.active {
        left: 0;
      }
    }
    .container {
      max-width: 720px;
    }
  }
  .nav-switch {
    display: block;
    width: 40px;
    float: right;
    height: 31px;
    padding-top: 14px;
    position: relative;
    cursor: pointer;
    .ns-bar {
      width: 30px;
      height: 3px;
      background: #fff;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:after,
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #fff;
        left: 0;
        bottom: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      &:before {
        bottom: auto;
        top: 0;
      }
    }
    &:hover {
      .ns-bar {
        width: 100%;
      }
    }
    &.active {
      .ns-bar {
        width: 0px;
        &:after {
          -webkit-transform: rotate(-43deg);
          -ms-transform: rotate(-43deg);
          transform: rotate(-43deg);
          -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
          transform-origin: left bottom;
        }
        &:before {
          -webkit-transform: rotate(43deg);
          -ms-transform: rotate(43deg);
          transform: rotate(43deg);
          -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
          transform-origin: left top;
        }
      }
    }
  }
  .main-menu {
    margin-left: 0;
    padding-top: 0;
    display: block;
    margin-bottom: 80px;
    li {
      display: block;
      border-bottom: 1px solid #f1f1f1;
      a {
        display: block;
        color: #000;
        margin-left: 0;
        padding: 12px 21px;
      }
      &.active {
        a {
          color: #fff;
        }
      }
    }
  }
  .header-btns {
    position: relative;
    display: block;
    padding: 0 15px;
    .site-btn {
      margin-right: 0;
      display: block;
      margin-bottom: 5px;
    }
  }
  .hs-item {
    height: auto;
    padding-top: 250px;
    padding: 250px 0 200px;
    h2 {
      font-size: 65px;
    }
  }
  .service-list {
    li {
      margin-bottom: 40px;
      max-width: auto;
    }
    &.service-list-left {
      .sl-icon {
        float: right;
        padding-left: 0;
      }
      .sl-content {
        text-align: right;
        padding-right: 95px;
        padding-left: 0;
      }
      li:nth-child(1) {
        right: -0;
        width: auto;
      }
      li:nth-child(2) {
        right: 0;
      }
      li:nth-child(3) {
        right: 0;
      }
    }
    &.service-list-right {
      li:nth-child(1) {
        left: 0;
        width: auto;
      }
      li:nth-child(2) {
        left: 0;
      }
      li:nth-child(3) {
        left: 0;
      }
    }
  }
  .service-list.service-list-left .sl-icon {
    float: left;
  }
  .service-list.service-list-left .sl-content {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    padding-left: 95px;
  }
  .service-main-circle {
    display: none;
  }
  .about-img {
    text-align: center;
    padding-top: 80px;
  }
  .what-card .wc-text {
    padding: 20px 15px 1px;
  }
  .testimonials-slider.owl-carousel .owl-nav {
    position: relative;
    top: 0;
    text-align: center;
    padding-top: 50px;
  }
  .testimonials-slider.owl-carousel .owl-nav button.owl-prev,
  .testimonials-slider.owl-carousel .owl-nav button.owl-next {
    float: none;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 9px;
  }
  .testimonials-slider.owl-carousel .owl-dots {
    padding-top: 30px;
  }
  .pricing-card .pc-header h4 {
    font-size: 16px;
  }
  .pricing-card .pc-header h5 {
    font-size: 35px;
  }
  .add-pic,
  .contact-text,
  .milestone-icon,
  .about-intro-pic {
    margin-bottom: 40px;
  }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .header-section {
    padding: 35px 0px;
    .header-right {
      position: fixed;
      background: #fff;
      width: 300px;
      height: 100%;
      left: -340px;
      top: 0;
      overflow-y: auto;
      -webkit-box-shadow: 40px 0px 70px rgba(167, 167, 167, 0.2);
      box-shadow: 40px 0px 70px rgba(167, 167, 167, 0.2);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      &.active {
        left: 0;
      }
    }
    .container {
      max-width: 720px;
    }
  }
  .nav-switch {
    display: block;
    width: 40px;
    float: right;
    height: 31px;
    padding-top: 14px;
    position: relative;
    cursor: pointer;
    z-index: 99;
    .ns-bar {
      width: 30px;
      height: 3px;
      background: #fff;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:after,
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #fff;
        left: 0;
        bottom: 0;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      &:before {
        bottom: auto;
        top: 0;
      }
    }
    &:hover {
      .ns-bar {
        width: 100%;
      }
    }
    &.active {
      .ns-bar {
        width: 0px;
        -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.50);
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.50);
        &:after {
          -webkit-transform: rotate(-43deg);
          -ms-transform: rotate(-43deg);
          transform: rotate(-43deg);
          -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
          transform-origin: left bottom;
        }
        &:before {
          -webkit-transform: rotate(43deg);
          -ms-transform: rotate(43deg);
          transform: rotate(43deg);
          -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
          transform-origin: left top;
        }
      }
    }
  }
  .main-menu {
    margin-left: 0;
    padding-top: 0;
    display: block;
    margin-bottom: 80px;
    li {
      display: block;
      border-bottom: 1px solid #f1f1f1;
      a {
        display: block;
        color: #000;
        margin-left: 0;
        padding: 12px 21px;
      }
      &.active {
        a {
          color: #fff;
        }
      }
    }
  }
  .header-btns {
    position: relative;
    display: block;
    padding: 0 15px;
    .site-btn {
      margin-right: 0;
      display: block;
      margin-bottom: 5px;
    }
  }
  .hs-item {
    height: auto;
    padding-top: 250px;
    padding: 250px 0 200px;
  }
  .service-list {
    &.service-list-left {
      margin-bottom: 40px;
    }
    li {
      margin-bottom: 40px;
      max-width: auto;
    }
    &.service-list-left {
      .sl-icon {
        float: right;
        padding-left: 0;
      }
      .sl-content {
        text-align: right;
        padding-right: 95px;
        padding-left: 0;
      }
      li:nth-child(1) {
        right: -0;
        width: auto;
      }
      li:nth-child(2) {
        right: 0;
      }
      li:nth-child(3) {
        right: 0;
      }
    }
    &.service-list-right {
      li:nth-child(1) {
        left: 0;
        width: auto;
      }
      li:nth-child(2) {
        left: 0;
      }
      li:nth-child(3) {
        left: 0;
      }
    }
  }
  .service-list.service-list-left .sl-icon {
    float: left;
  }
  .service-list.service-list-left .sl-content {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    padding-left: 95px;
  }
  .service-main-circle {
    display: none;
  }
  .about-img {
    text-align: center;
    padding-top: 80px;
  }
  .milestone-icon {
    margin-bottom: 30px;
  }
  .banner-card {
    padding: 53px 50px 28px;
  }
  .hs-item h2,
  .page-top-section h2 {
    font-size: 55px;
  }
  .footer-nav,
  .copyright {
    float: none;
    text-align: center;
  }
  .copyright {
    padding-top: 15px;
  }
  .testimonials-slider.owl-carousel .owl-nav {
    position: relative;
    top: 0;
    text-align: center;
    padding-top: 50px;
  }
  .testimonials-slider.owl-carousel .owl-nav button.owl-prev,
  .testimonials-slider.owl-carousel .owl-nav button.owl-next {
    float: none;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 9px;
  }
  .testimonials-slider.owl-carousel .owl-dots {
    padding-top: 30px;
  }
  .add-pic,
  .contact-text,
  .milestone-icon,
  .about-intro-pic,
  .feature,
  .what-card {
    margin-bottom: 40px;
  }
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
  .hs-item h2 {
    font-size: 45px;
  }
  .section-title h2,
  .page-top-section h2 {
    font-size: 36px;
  }
  .banner-card {
    padding: 53px 40px 28px;
    h2 {
      font-size: 36px;
    }
  }
  .about-list {
    padding-left: 40px;
  }
}