<head>
<style>
    .cuadro{
        display: inline-block;
        vertical-align: top;
        width: 300px;
    }
</style>
</head>

<body>

<input type="button" id="buscar" value="buscar" >
<input type="text" id="nombre">
<input type="text" id="apellido">
<input type="text" id="correo">

<div id="resultado"> </div>


<script src="./js/jquery.js"></script>

<script>
$(document).on("ready",main);
    function main() {
    $("#buscar").on("click",function(){
        
         $.getJSON("https://siberian-api.herokuapp.com/api/company",
        function(datos){             
            var html;

            html += "<table border='1'>";
                html +=     "<thead>";
                html +=         "<tr>";
                html +=             "<th>Id</th>";
                html +=             "<th>Rif 1º</th>";
                html +=             "<th>Nombre </th>";
                html +=             "<th>Vision </th>";
                html +=             "<th>Quienes somos </th>";
                html +=             "<th>Direccion </th>";
                html +=             "<th>Telefono1 </th>";
                html +=             "<th>Telefono2 </th>";
                html +=         "</tr>";
                html +=     "</thead>";

            $.each(datos,function(i,item){
              
               var id = item.id;
                var rif = item.rif;
                var name = item.name;
                var vision = item.vision;
                var about = item.aboutUs;
                var address = item.address;
                var phone1 = item.phoneOne;
                var phone2 = item.phoneTwo;

               $("#nombre").attr("value", name );
               $("#apellido").attr("value", rif );
               $("#correo").attr("value", phone1 );
  
                html += "<tr>";
                html += "<td>" + id    + "</td>";
                html += "<td>" + rif + "</td>";
                html += "<td>" + name + "</td>";
                html += "<td>" + vision + "</td>";
                html += "<td>" + about + "</td>";
                html += "<td>" + address + "</td>";
                html += "<td>" + phone1 + "</td>";
                html += "<td>" + phone2 + "</td>";
                html += "</tr>";
            });
            html += "</table>";
             $("#resultado").html( html );
        })
    })  
}


// function mostrarDatos( aDatos )
//         {
           
           
//             for( var contador=0; contador < aDatos.length; contador++ )
//             {
//                 html += "<tr>";
//                 html += "<td>" + aDatos[i].first    + "</td>";
//                 html += "<td>" + aDatos[i].last + "</td>";
//                 html += "<td>" + aDatos[i].email + "</td>";
//                 html += "</tr>";
//             }
//             html += "</table>";
//             $("#resultado").html( html );
//         }
</script>
</body>

