<link href="../../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../../js/librariesjs/bootstrap.min.js"></script>
<script src="../../js/librariesjs/jquery-1.11.1.min.js"></script>

<!------ 
Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container" style="background: rgb(53, 53, 53)">
	<div class="row">
		<div class="col-md-4 login-sec " id="loginform">
            
		    
                <form class="login-form">
                    <div class="form-group">
                        <img src="../../../img/MrBob1024LogoC.png" width="150" height="150">
                    </div>    
                    <div class="form-group">
                        <br>    
                            <input class="contact-form" type="email"  placeholder="Correo" >    
                    </div>
                    <div class="form-group">
                        <br>
                        <input type="password"  placeholder="Contrasena" >
                    </div>
                    <div class="form-group">
                            <br>
                            <button  style="width:55%;background: #0B173B;color: #FFFFFF" class="btn float-center" type="button" id="Login">Ingresar</button>
                        </div>
                        <p style="color: #121212">¿ No tienes cuenta aún ? 
                                <a style= "color: cornflowerblue" href="../../../register.html">¡Suscríbete!</a>
                        </p>
</form>

		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="../../img/3x2-z12-1.jpg" style="height: 600px"alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	 -->
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../img/luke-porter-232839-1-e1497435965697.jpg" style="height: 600px"alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	 -->
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../img/2016_SeptOct_Handshake_WebExclusive-min-1-1500x1000.jpg" style="height: 600px" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	 -->
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</section>

    <style>
.login-block{
    background: #fff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #121212, #0B173B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#303030; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative; text-align: center;color:#fff;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;color:#fff;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#2F74CF;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #fff;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#2F74CF;color:#fff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #2F74CF; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
        
          .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
        .form button:hover, .form button:active, .form button:focus {
        background: #0000CD;
    }
        
           .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #000080;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    </style>
<!--<img alt="full screen background image" src="img/backgroundlogin.jpg" id="full-screen-background-image"/>
<link href="css/sweetalert2.css" rel="stylesheet"/>
<div class="login-page" id="loginform">
    <h1 class="login-text">Bienvenido a Publícalo</h1>
    <div class="form">

        <form class="login-form">
            <input type="text" v-model="Username" v-on:keyup="keymonitor" placeholder="Nombre de Usuario"/>
            <input type="password" v-on:keyup="keymonitor" v-model="Password" placeholder="Clave"/>
            <!-- <button>Acceder</button>
            <meta name="csrf-token" content="{{ csrf_token() }}">
            <button v-on:click="logear" style="width:100%" type="button" id="Login">Acceder</button>
            <br>

        </form>
    </div>
</div>-->
<!--<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .login-text {
        color: white;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #000080;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover, .form button:active, .form button:focus {
        background: #0000CD;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: #4CAF50;
        text-decoration: none;
    }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #EF3B3A;
    }

    body {
        /* background: #76b852; /* fallback for old browsers */
        background-color: #001E50;

        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        background-repeat: no-repeat;
        background-attachment: fixed;

        background-position: center;
    }

    #full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
</style>
 @include('layouts.footer')-->

      